# Secrets / local config
APIkeys.py

# Bytecode / caches
__pycache__/
.DS_Store
Logs/
Crashlog/
.secrets/

# Runtime session data
sessions/

#Deleted Data
Deleted_Data/

# Logs
localogs/

# macOS noise
.DS_Store
