# Secrets / local config
APIkeys.py

# Bytecode / caches
__pycache__/
.DS_Store

#Api Keys
.secrets/

# Runtime session data
sessions/

#Deleted Data
Deleted_Data/

# Logs
Logs/
Crashlog/
SearchHistory/

# macOS noise
.DS_Store

# File Uploads
uploads/
